/* LessonCreator.css */

.lesson-creator-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.back-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #444;
}

.lesson-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #888;
  outline: none;
}

.section-divider {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.back-button{
  background-color: var(--accent-color);

}

.sublesson-container {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.remove-sublesson-button {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 0.9rem;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-sublesson-button {
  margin: 20px 0;
  padding: 12px 20px;
  font-size: 1rem;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button {
  padding: 12px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: var(--accent-color);
}