/* src/index.css */
body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  min-height: 100vh;
}