/* src/styles.css */
:root {
  --bg-color: #1A1A1A; /* Dark background */
  --box-bg-color: #282828; /* Lighter black for boxes */
  --primary-text-color: #f0f0f0; /* White text */
  --secondary-text-color: #757575; /* Slightly grayish text for secondary content */
  --border-color: #333;
  --highlight-color: #4a90e2;
  --button-bg-color: #4a90e2;
  --button-hover-bg-color: #cc8e39;
  --feedback-bg-color: #1f1f1f;
  --chat-bg-color: #1b1b1b;
  --error-color: #d9534f;
  --accent-color: #FFB347;
  --font-family: 'Crimson Pro';
}


.crimson-pro-font {
  font-family: "Crimson Pro";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 18px;
  color: var(--primary-text-color);
  font-weight: 500;
  margin-bottom: 10px;
}

p, label {
  font-size: 14px;
  color: var(--secondary-text-color);
  line-height: 1.5;
}